<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->
{{#each animala}}
<p>Type: {{animalType}}</p>
<p>Pet: {{pet}}</p>
<p>fierceness: {{fierceness}}</p>
{{/each}}